.todoItems{
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    word-break: break-all;
}

.buttons-div{
    display: flex;
    justify-content: space-evenly;
}

.buttons-div > .button{
    white-space: nowrap;
}

.done_task{
    text-decoration: line-through;
}

.input{
    border: none;
    outline: none;
    word-wrap: break-word;
    background-color: transparent;
    
}